* {
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
	text-align: center;
}

body {
	font-size: 16px;
	background-color: #61122f;
}

.container-fluid {
	background-color: #A2B964;
	margin:25px;
	border-radius: 5px;

}
/** HEADER **/

#header-nav {
	background-color: #ffffe6;
	border-radius: 0;
	border: 0;

}

.navbar-brand h1{
	border: 0px solid black;
	font-size: 2em;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin: 0px;
}
#nav-list a {
	color: #247571;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#collapsable-nav {
	border: 0px solid black;
}
li{
	border: 0px solid black;
	margin-left: -16px;
	margin-right: -16px;
	padding: 0px;
}
li > a > p {
	border: 1px solid black;
	color: black;
	font-size: 1.3em;
	margin-left: -15px;
	margin-right: -16px;
	margin-top: -10px;
	margin-bottom: -10px;
}

/** BODY **/

div > h1 {
	color: #ffffe6;
	font-size: 
}

.row {
	background-color: #a6a6a6;
	position: relative;
	float: left;
	margin:10px;
	border-radius: 5px;
	color: #ffffe6;
}
.row a:hover, .row a:focus {
	text-decoration: none;
}
.row h3 {
	color: black;
}

.row p {
	font-size: 1.1em;
	padding: 10px;
}


