* {
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
	text-align: center;
}

body {
	font-size: 16px;
	background-color: #61122f;
}

.container-fluid {
	background-color: #A2B964;
	margin:25px;
	border-radius: 5px;

}
/** HEADER **/

#header-nav {
	background-color: #ffffe6;
	border-radius: 0;
	border: 0;

}

.navbar-brand h1{
	border: 0px solid black;
	font-size: 2em;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin: 0px;
}
#nav-list a {
	color: #247571;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#collapsable-nav {
	border: 0px solid black;
}
li{
	border: 0px solid black;
	margin-left: -15px;
	margin-right: -15px;
	padding: 0px;
}
li > a > p {
	border: 1px solid black;
	color: black;
	font-size: 1.3em;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -10px;
	margin-bottom: -10px;
}

/** BODY **/

div > h1 {
	color: #ffffe6;
	font-size: 
}

.row {
	background-color: #a6a6a6;
	position: relative;
	float: left;
	margin:10px;
	border-radius: 5px;
	color: #ffffe6;
}
.row a:hover, .row a:focus {
	text-decoration: none;
}
.row h3 {
	color: black;
}

.row p {
	font-size: 1.1em;
	padding: 10px;
}


/************** Desktop view ***********/
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
	.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, 
	.col-lg-12 {
		float: left;
	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 74.99%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

/************* Tablet view ***********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
	.col-md-12 {
    float: left;
  }
	.col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
